body{
background-color:hsl(30, 54%, 90%);
height: 200vh;
display: flex;
justify-content: center;
align-items: center;
font-family: Georgia, 'Times New Roman', Times, serif;




}
.contant{
    height: 170vh;
    max-width: 72vh;
    background-color:hsl(0, 0%, 100%) ;
    display: flex;
    flex-direction: column;
     padding: 20px 20px ;
     border-radius: 20px;
}
.firsrt{
    background-color: hsl(330, 100%, 98%);
    height: 19vh;

    
}

.firsrt,h3,li{
    padding: 1.2px 8px ;
    text-align: left;

}
.firsrt,li{
    font-size: 14.2px;
    word-spacing: 2px;
  
    
    /* padding: 1.3px 8px ; */
    /* margin-top: 2px; */

}
.sec{
    border-bottom: 2px solid black;
    /* height: 60vh; */
}
.thir{
    border-bottom: 2px solid black;
}

table{
    border-collapse: collapse;
    /* width: 100%; */
    width: 100%;
    /* padding: 10px; */
}
td,th{
    border-bottom: 1px solid black;
    /* padding: 8px; */
    text-align: left;
    /* padding: 10px; */
    padding: 8px;
}
p{
    font-size: 14.2px;
    font-weight: 400;
    color: hsl(14, 45%, 36%);
    word-spacing: -2px; 
    line-height: 22px;
    margin-top: 5px;
}
span{
    color:rgb(69, 32, 9);
    font-weight: 600;
    font-size: 16px;
}
h3{
    font-weight: 800;
    font-size: 20px;
}